{{ partial "page-header.html" . }}
<main id="main" class="bg-white py-12">
  <div class="container-main">
    <div class="prose prose-main max-w-none">
      {{.Content}}
    </div>

    {{ partial "entry/taxonomy-links.html" (dict
      "current" .
      "title" "Type"
      "taxonomies" .Site.Taxonomies.categories
    ) }}
    {{ partial "entry/taxonomy-links.html" (dict
      "current" .
      "title" "Tags"
      "taxonomies" .Site.Taxonomies.tags
    ) }}

    {{ partial "hr-short.html" . }}

    <section class="
      [ mt-8 ]
      [ grid gap-4 grid-cols-2 auto-rows-max ]
      [ md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 ]
    ">
      {{ $currentPage := . }}
      {{ range .Paginator.Pages  }}
        {{ partial "entry/entry-card.html" (dict
          "current" $currentPage
          "entry" .
        ) }}
      {{ end }}
    </section>

      {{ template "_internal/pagination.html" . }}
  </div>
</main>
