{{ partial "page-header.html" . }}
<main id="main" class="bg-white py-12">
  <div class="container-main">
    <div class="prose prose-main max-w-none">
      {{.Content}}
    </div>

    <nav>
      <a href="#entries" class="
        [ h-0 block ]
        [ w-full z-50 ]
        [ bg-blue text-white font-bold ]
        [ focus:h-auto focus:p-2 focus:mb-2 ]
      ">Skip filters and go directly to entries</a>
    </nav>

    {{ partial "entry/taxonomy-links.html" (dict
      "current" .
      "title" "Content Type"
      "taxonomies" .Site.Taxonomies.categories
      "withIcons" true
    ) }}
    {{ partial "entry/taxonomy-links.html" (dict
      "current" .
      "title" "Tags"
      "taxonomies" .Site.Taxonomies.tags
    ) }}

    {{ partial "hr-short.html" . }}

    <section id="entries" class="
      [ mt-8 ]
      [ grid gap-4 grid-cols-2 auto-rows-max ]
      [ md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 ]
    ">
      {{ $currentPage := . }}
      {{ range (.Paginator 12).Pages }}
        {{ partial "entry/entry-card.html" (dict
          "current" $currentPage
          "entry" .
        ) }}
      {{ end }}
    </section>

      {{ template "_internal/pagination.html" . }}
  </div>
</main>
