{{ define "main" }}
  <main>
    <section id="particles" data-title="3D Background" class="
      [ bg-black w-full h-full ]
      [ fixed left-0 top-0 -z-10 ]
      "
    ></section>

    {{- partial "home/header.html" . -}}

    {{- partial "home/community.html" . -}}

    {{- partial "home/about.html" . -}}

    {{- partial "home/portfolio.html" . -}}

    {{- partial "home/featured.html" . -}}

  </main>

  {{ $homeJs := resources.Get "dist/home.js" }}
  <script type="text/javascript" src="{{ $homeJs.Permalink }}"></script>
{{ end }}
