{{ $currentPage := .current }}
{{ $withIcons := .withIcons }}
<section class="mb-8">
  <header class="prose prose-main">
    <h2>{{ .title }}</h2>
  </header>
  <nav>
    <ul>
      {{ range .taxonomies }}
      <li class="inline-block">
        <a
          href="{{
              cond (eq $currentPage.Page.Permalink .Page.Permalink)
              "/content#type"
              (printf "%s#type" .Page.Permalink)
            }}"
          class="
            inline-block
            font-bold
            mr-2 mt-3 md:mr-4 md:mt-4
            py-2 px-2 md:py-4 md:px-12
            border-4
            border-{{ .Page.Title | urlize }}
            {{
              cond (eq $currentPage.Page.Permalink .Page.Permalink)
              (printf "text-%s bg-white" ( urlize .Page.Title ))
              (printf "text-white bg-%[1]s hover:text-%[1]s hover:bg-white focus:text-%[1]s focus:bg-white" ( urlize .Page.Title ))
            }}"
          >
          {{ $isBlog := eq .Page.Title "Blog" }}
          {{ with $withIcons }}
            {{ $iconPath := cond ($isBlog) "icons/blog.html" "icons/talks.html" }}
            {{ partial $iconPath (dict "class" "w-5 h-5 inline mr-2") }}
          {{ end }}
          {{ .Page.Title | humanize | title }}
          <sub>({{.Count}})</sub>
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</section>
