@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-main {
    @apply container mx-auto px-4;
  }

  .prose-main {
    @apply
      prose-h2:text-blue
      prose-a:no-underline
      prose-a:text-teal hover:prose-a:text-blue
      prose-a:font-bold
      prose-p:leading-loose
    ;
  }
}
