@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-main {
    @apply container mx-auto px-4;
  }

  .prose-main {
    @apply
      prose-h2:text-blue
      prose-a:no-underline
      prose-a:text-teal hover:prose-a:text-blue focus:prose-a:text-blue
      prose-a:font-bold
      prose-p:leading-loose
    ;
  }

  .prose-home {
    @apply
      prose-h2:text-teal prose-h2:text-center
      prose-a:no-underline hover:prose-a:underline focus:prose-a:underline
      prose-a:text-orange hover:prose-a:text-white focus:prose-a:text-white
      prose-a:font-bold
      prose-p:leading-loose
      prose-p:text-white
      prose-p:font-light
    ;
  }

  .prose-home-md {
    @apply
      prose-h2:text-left
    ;
  }

  .pagination {
    @apply flex justify-center mt-12;
  }

  .page-item {
    @apply mx-2;
  }

  .page-item.active a {
    @apply text-blue;
  }

  .page-item a {
      @apply text-2xl md:text-3xl md:mx-2 font-bold text-teal hover:text-blue focus:text-blue;
  }
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}

.highlight > div {
  overflow-x: scroll;
}
