<nav class="
  [ absolute md:static ]
  [ left-full top-0 ]
  [ bg-dark md:bg-transparent]
  [ w-1/2 md:w-auto ]
  [ h-screen md:h-auto ]
">
  <ul class="flex flex-col md:flex-row">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="
      [ ml-0 md:ml-6 ]
      [ border-l-2 border-b-2 border-black md:border-none ]
    ">
      <a
        href="{{ .URL }}"
        class="
          [ text-white font-bold focus:text-teal hover:text-teal ]
          [ block md:inline ]
          [ p-3 md:p-0 ]
          {{ if or
          ($currentPage.IsMenuCurrent "main" .)
          ($currentPage.HasMenuCurrent "main" .)
          }}text-teal{{ end }}"
      >
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{ end }}
    {{ partial "nav/external-link.html" (dict "label" "Resume" "url" "https://thecodeboss.dev/resume") }}
    {{ partial "nav/external-link.html" (dict "label" "Labs" "url" "https://labs.thecodeboss.dev") }}
  </ul>
</nav>
