<button
  id="responsiveNavToggle"
  class="md:hidden flex items-center space-x-2 text-white"
  type="button"
>
  <span
    id="responsiveNavToggleText"
    class="font-medium text-lg"
  >Open</span>

  <div class="
    [ relative w-6 ]
    [ flex items-center justify-center ]
  ">
    <span id="responsiveNavToggleLine1" class="
      [ transform transition ]
      [ w-full h-px bg-current absolute ]
      [ -translate-y-2 ]
    "></span>

    <span id="responsiveNavToggleLine2" class="
      [ transform transition ]
      [ w-full h-px bg-current absolute ]
      [ opacity-100 ]
    "></span>

    <span id="responsiveNavToggleLine3" class="
      [ transform transition ]
      [ w-full h-px bg-current absolute ]
      [ translate-y-2 ]
    "></span>
  </div>
</button>
