<footer class="relative bg-dark py-3">
  <div class="container-main flex justify-between items-center">
    <section>
      <p class="text-white">&copy; 2022 Aaron Krauss. All Rights Reserved.</p>
    </section>
    <nav>
      <ul class="flex items-end">
          {{ range .Site.Menus.social }}
          <li class="ml-8">
            <a
              class="[ w-6 block ][ text-white hover:text-teal focus:text-teal ]"
              target="_blank"
              title="{{ .Name }}"
              href="{{ .URL }}"
              >
              {{ partial (printf "icons/%s.html" .Identifier) (dict "class" "") }}
            </a>
          </li>
          {{ end }}
      </ul>
    </nav>
  </div>
  {{ partial "arrow-down.html" (dict "color" "white") }}
</footer>
