<footer class="relative bg-dark py-3">
  <div class="
    [ container-main ]
    [ flex flex-col md:flex-row justify-between items-center ]
  ">
    <section class="my-4 md:my-0">
      <p class="text-white">&copy; 2022 Aaron Krauss. All Rights Reserved.</p>
    </section>
    <nav class="mb-4 md:mb-0">
      <ul class="flex items-end">
          {{ range .Site.Menus.social }}
          <li class="mx-4 md:ml-8 md:mr-0">
            <a
              class="[ w-6 block ][ text-white hover:text-teal focus:text-teal ]"
              target="_blank"
              title="{{ .Name }}"
              href="{{ .URL }}"
              >
              {{ partial (printf "icons/%s.html" .Identifier) (dict "class" "") }}
            </a>
          </li>
          {{ end }}
      </ul>
    </nav>
  </div>
  {{ partial "arrow-down.html" (dict "color" "white") }}
</footer>

{{ $mainJs := resources.Get "dist/main.js" }}
<script type="text/javascript" src="{{ $mainJs.Permalink }}"></script>
