<footer class="relative bg-dark py-3 mt-8">
  <div class="container-main flex justify-between items-center">
    <section>
      <p class="text-white">&copy; 2022 Aaron Krauss. All Rights Reserved.</p>
    </section>
    <nav>
      <ul class="flex items-end">
          <li class="ml-8">
            <a
              class="[ w-6 block ][ text-white hover:text-teal focus:text-teal ]"
              target="_blank"
              title="My GitHub"
              href="https://github.com/alkrauss48"
              >
              {{ partial "icons/github.html" (dict "class" "") }}
            </a>
          </li>
          <li class="ml-8">
            <a
              class="[ w-6 block ][ text-white hover:text-teal focus:text-teal ]"
              target="_blank"
              title="OKC WebDevs Meetup"
              href="https://www.meetup.com/okcwebdevs/"
              >
              {{ partial "icons/meetup.html" (dict "class" "") }}
            </a>
          </li>
          <li class="ml-8">
            <a
              class="[ w-6 block ][ text-white hover:text-teal focus:text-teal ]"
              target="_blank"
              title="My LinkedIn"
              href="https://www.linkedin.com/in/alkrauss48/"
              >
              {{ partial "icons/linked-in.html" (dict "class" "") }}
            </a>
          </li>
          <li class="ml-8">
            <a
              class="[ w-6 block ][ text-white hover:text-teal focus:text-teal ]"
              target="_blank"
              title="My JS Fiddle"
              href="https://jsfiddle.net/user/thecodeboss/fiddles/"
              >
              {{ partial "icons/js-fiddle.html" (dict "class" "") }}
            </a>
          </li>
      </ul>
    </nav>
  </div>
  {{ partial "arrow-down.html" (dict "color" "white") }}
</footer>
