<header class="fixed w-full bg-dark py-2 border-b-2 border-teal">
  <div class="container-main flex justify-between items-center">
    <section>
      {{ $image := resources.Get "images/logo.png" }}
      <a href="/">
        <img
          data-title="logo-image"
          class="w-8"
          alt="thecodeboss logo"
          src="{{ $image.RelPermalink }}"
        />
      </a>
    </section>
    <nav>
      <ul class="flex">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
                <li class="ml-6 {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a
                      href="{{ .URL }}"
                      class="text-white font-bold focus:text-teal hover:text-teal {{ if $currentPage.IsMenuCurrent "main" . }}text-teal{{ end }}"
                      >
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
          {{ end }}
          {{ partial "nav/external-link.html" (dict "label" "Resume" "url" "https://thecodeboss.dev/resume") }}
          {{ partial "nav/external-link.html" (dict "label" "Labs" "url" "https://labs.thecodeboss.dev") }}
      </ul>
    </nav>
  </div>
</header>
