<nav id="skipmenu">
  <a href="#content" class="
    [ fixed -top-10 left-0 ]
    [ w-full py-1 px-4 z-50 ]
    [ bg-blue text-white font-bold ]
    [ focus:top-0 ]
  ">Skip directly to content</a>
</nav>
<header id="headerBar" class="
  [ fixed w-full z-40 ]
  [ bg-dark py-2 border-b-2 border-teal ]
  [ transition-all left-0 ]
">
  <div class="container-main flex justify-between items-center">
    <section>
      {{ $image := resources.Get "images/logo.png" }}
      <a title="Home Page" href="/">
        <img
          data-title="logo-image"
          class="w-8"
          alt="thecodeboss logo"
          src="{{ .Site.Params.Logo }}"
        />
      </a>
    </section>
    {{ partial "nav/responsive-nav-toggle.html" . }}

    {{ partial "nav/nav-list.html" . }}
  </div>
</header>
