<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Aaron L. Krauss - Resume</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Resume for Aaron L. Krauss">
		<meta name="author" content="Aaron L. Krauss">

		<meta property="og:title" content="Aaron L. Krauss - Resume" />
		<meta name="og:description" content="Resume for Aaron L. Krauss">
		<meta property="og:url" content="https://resumeha.us/aaron-krauss" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />

		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#fb6381">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#fb6381">

				<link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/readable/bootstrap.min.css" rel="stylesheet">

		<style>
  .top-padding {
    padding-top: 30px;
  }

  .jumbotron {
    text-align: center;
  }

  .jumbotron h1 {
    padding: 10px 0px;
    font-size: 4em;
  }

  .page-footer {
    text-align: center;
  }

  .education-block h4, .workExperience-block h4 {
    display: inline-block;
    margin: 0;
  }

  .education-content, .work-experience-content {
    padding-top: 1em;
  }

  .small-italic {
    font-style:italic;
    font-size: 15px;
  }

  .skillBar-block h4 {
    text-align: right;
  }

  .skillBar-block .label {
    text-align: center;
  }

  .skillTags-block .label {
	  display: inline-block;
	  padding: .5em;
	  margin-right: .5em;
	  margin-bottom: .5em;
  }

  .skillTags-block .size-normal {
	  font-size: 1em;
  }

  .skillTags-block .size-large {
	  font-size: 1.25em;
  }

  .progress {
    margin: 10px 0 10px 0;
    height: 22px;
  }

  .progress-bar:last-child:before {
    content: '';
  }
</style>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="preview top-padding">
		<section role="main" class="container">
			<header class="jumbotron">
  <div class="row">
    <div class="col-md-12">
      <h3>Resume for</h3>
      <h1>Aaron L. Krauss</h1>
      <address>
                  <a href="https://thecodeboss.dev">thecodeboss.dev</a><br />
                          <a href="mailto:alkrauss48@gmail.com">alkrauss48@gmail.com</a><br />
                      </address>
    </div>
  </div>
</header>

						<article class="col-lg-12 heading-block">
				<div class="row">
  <div class="col-lg-12 page-header">
    <h2>About</h2>
  </div>
</div>
			</article>
						<article class="col-lg-12 text-block">
				<div class="row">
  <div class="col-lg-12">
    <p>
	Aaron Krauss is an active <a href="https://www.techlahoma.org/" target="_blank" rel="noreferrer noopener">Techlahoma</a> leader and the Technical Lead of New Development at <a href="https://clevyr.com" target="_blank" rel="noreferrer noopener">Clevyr</a> in Oklahoma City, Oklahoma. He specializes and prefers to work with open source tools such as Laravel, Ruby, Vue, Python, HTML, CSS, Git, SQL, Go, etc., but also has some background in .NET as well. Besides coding, he loves mentoring and teaching other developers, leading projects, working with prospective clients and our business development team, and helping to establish standards and best practices with the team.</p>
  </div>
</div>
			</article>
						<article class="col-lg-12 heading-block">
				<div class="row">
  <div class="col-lg-12 page-header">
    <h2>Tech Skills</h2>
  </div>
</div>
			</article>
						<article class="col-lg-12 skillTags-block">
				<div class="row">
	<div class="col-sm-12">
				<span class="label label-primary size-large">
			Laravel
		</span>
				<span class="label label-primary size-large">
			Vue
		</span>
				<span class="label label-primary size-large">
			Flutter
		</span>
				<span class="label label-primary size-large">
			Ruby
		</span>
				<span class="label label-primary size-large">
			Go
		</span>
				<span class="label label-primary size-large">
			SQL
		</span>
				<span class="label label-primary size-large">
			Tailwind CSS
		</span>
				<span class="label label-primary size-large">
			Python
		</span>
				<span class="label label-primary size-large">
			Swift
		</span>
				<span class="label label-primary size-large">
			Docker
		</span>
				<span class="label label-primary size-large">
			CI/CD
		</span>
				<span class="label label-primary size-large">
			GitOps
		</span>
				<span class="label label-primary size-large">
			Kubernetes
		</span>
				<span class="label label-primary size-large">
			Shell / CLI
		</span>
				<span class="label label-primary size-large">
			Ionic
		</span>
				<span class="label label-primary size-large">
			Vim
		</span>
				<span class="label label-primary size-large">
			Git
		</span>
				<span class="label label-primary size-large">
			Node
		</span>
				<span class="label label-primary size-large">
			A11y
		</span>
				<span class="label label-primary size-large">
			JavaScript
		</span>
				<span class="label label-primary size-large">
			HTML &amp; CSS
		</span>
			</div>
</div>
			</article>
						<article class="col-lg-12 heading-block">
				<div class="row">
  <div class="col-lg-12 page-header">
    <h2>Education</h2>
  </div>
</div>
			</article>
						<article class="col-lg-12 education-block">
				<div class="top-padding row">
  <div class="col-sm-8"><h4>University of Oklahoma</h4></div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Norman, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Bachelor of Business Administration</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">January 2011 - May 2012</span>
    <span class="hidden-xs pull-right small-italic">January 2011 - May 2012</span>
  </div>
</div>

<div class="row">
  <div class="education-content col-lg-12"><ul>
	<li><strong>Major:</strong> Management Information Systems (3.8 GPA)</li>
	<li><strong>Honors:</strong> Graduated with Distinction</li>
	<li><strong>Senior Project:</strong> Developed Help Desk Ticketing .NET Web Forms for the <a href="http://www.faa.gov/">FAA</a> Customer Service Center</li>
</ul></div>
</div>
			</article>
						<article class="col-lg-12 education-block">
				<div class="top-padding row">
  <div class="col-sm-8"><h4>Southern Methodist University</h4></div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Dallas, TX</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic"></span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">2008 - Transferred in 2011</span>
    <span class="hidden-xs pull-right small-italic">2008 - Transferred in 2011</span>
  </div>
</div>

<div class="row">
  <div class="education-content col-lg-12"><ul>
	<li><strong>Major:</strong> Engineering Management Information Systems (3.8 GPA)</li>
	<li><strong>Notable Projects:</strong> Lego Mindstorm Robotics Project (Java), Term/Frequency Inverse Document Frequency Search Engine (C/C++)</li>
</ul></div>
</div>
			</article>
						<article class="col-lg-12 heading-block">
				<div class="row">
  <div class="col-lg-12 page-header">
    <h2>Professional Experience</h2>
  </div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Clevyr</h4>
        <a href="https://clevyr.com" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Technical Lead of New Development</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">June 2022 - Present</span>
    <span class="hidden-xs pull-right small-italic">June 2022 - Present</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Building and managing a Clevyr Developer Program with a huge focus on training and mentoring junior developers. If there is one bullet point to remember, this is it.</li><li>Leading development on our Discovery offerings where we focus on working through business ideas and concepts with clients. In addition to finding creative ways to solve problems, I'll be building out the initial proof of concept applications behind these ideas.</li><li>Directing development over our internal tools, which we use across all of our projects and products.</li><li>Working with the business development team to represent the technical wing of Clevyr in all pre-sales experiences, like meetings, quotes, and more.</li><li>Working with marketing to showcase all of the badass things we do every day, and finding new ways to take everything we do as a community to the next level.</li></ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Clevyr</h4>
        <a href="https://clevyr.com" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Senior Software Engineer</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">May 2016 - June 2022</span>
    <span class="hidden-xs pull-right small-italic">May 2016 - June 2022</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Build data-driven web and mobile applications using PHP/Laravel, Vue, HTML/CSS, Python, Node, Ionic, Angular, React, Rails, Go, and a slough of other fun languages.</li><li>We're a unix driven shop - so just like before, Vim, Shell, and Tmux are at the core of my productivity.</li><li>Work with clients throughout the business cycle, including sales, discovery, product development, and delivery.</li><li>Project management with leading teams, estimating quotes, setting milestones, managing client expectations, etc.</li></ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Staplegun, Inc.</h4>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Web Developer / Director of Awesome</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">February 2014 - May 2016</span>
    <span class="hidden-xs pull-right small-italic">February 2014 - May 2016</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul>
	<li>Lead developer on agency's largest project - using Rails, Angular, Hypermedia, PostgreSQL, Foundation, and more</li><li>Build interactive web sites with HTML5, Sass, Javascript, preprocessors, and build automation tools</li>
	<li>Implement and develop for different CMSs including Wordpress, MODx, and Craft CMS</li><li>Develop fully responsiveness, accessible, and browser supported sites (IE8+)</li>
	<li>Take web services to the next level with Node.js, Sinatra, Faye.js, D3.js, and more</li>
</ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Brightbit</h4>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Web Developer</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">September 2013 - January 2014</span>
    <span class="hidden-xs pull-right small-italic">September 2013 - January 2014</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul>
	<li>Develop custom and responsive applications with Ruby on Rails, Javascript, AJAX, SQL, Zsh, HTML5, and Sass</li>
	<li>Co-led project specifically using Ember.js, Coffeescript, Rails API, web sockets, background jobs, and PostgreSQL</li>
	<li>Implement APIs, services, packages, and gems such as Heroku, Faye, AWS, Cloudmailin, Bootstrap, Devise, Stripe, etc.</li>
	<li>Perform test-driven development through TestUnit, RSpec, Minitest, Capybara, and QUnit</li>
	<li>Master Vim, Git, and Tmux for development tools</li>
</ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Adfitech, Inc.</h4>
        <a href="https://adfitech.com" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Edmond, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Software Developer</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">November 2011 - September 2013</span>
    <span class="hidden-xs pull-right small-italic">November 2011 - September 2013</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul>
	<li>Developed various projects through combination of Ruby, PHP, C, Gtk+ MySQL, MongoDB, and Bash</li>
	<li>Sole developer for enterprise-scale Underwriting tool, written using Ruby, Gtk+, MongoDB, Ctree, and Mysql</li>
	<li>Utilized development tools such as Vim, Git, and background job handlers on a daily basis</li>
	<li>Programmed in and administered Mac OS and Linux environments</li>
</ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>GMX Resources</h4>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Land Intern</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">June 2010 - November 2011</span>
    <span class="hidden-xs pull-right small-italic">June 2010 - November 2011</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul>
	<li>Wrote several Microsoft Excel macros in VBA for the Division Order Department</li>
	<li>Managed Division Order maintenance and outflow</li>
	<li><strong>Recognition:</strong> GMXR Employee of Distinction</li>
</ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Hertz Technology Center</h4>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">MIS Intern</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">April 2011 - August 2011</span>
    <span class="hidden-xs pull-right small-italic">April 2011 - August 2011</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul>
	<li>Utilized T-SQL, C#, and ASP.NET to program an array of projects for Hertz</li>
	<li>Developed multiple stored procedures, cursors, and triggers to aid in efficient database structuring</li>
	<li>Engaged in database management team to help Hertz develop an innovative GPS system</li>
</ul></div>
</div>
			</article>
						<article class="col-lg-12 heading-block">
				<div class="row">
  <div class="col-lg-12 page-header">
    <h2>Community Involvement</h2>
  </div>
</div>
			</article>
						<article class="col-lg-12 text-block">
				<div class="row">
  <div class="col-lg-12">
    <p>I love learning, and I love teaching. I'm a huge fan of being involved in my local community, and I've been an active speaker and user group organizer for several years now. My favorite talks to give are those about topics that I know nothing about, but want to learn more, because it forces me to research and understand the content enough to give a talk over it.</p>
  </div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>OKC WebDevs</h4>
        <a href="https://www.meetup.com/OKCWebDevs/" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Organizer</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">Jan 2020 - Present</span>
    <span class="hidden-xs pull-right small-italic">Jan 2020 - Present</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Create and manage new user group as a conglomerate of OKC.js, OKC Ruby, and OKC Python user groups</li><li>Successfully transition pre-COVID-19 in-person group into fully-virtual group while maintaining community involvement, and then also segueing back into regular in-person and virtual events.</li><li>Manage and market our meetups, find monthly speakers, run the events, and facilitate our slack community</li><li>Meet monthly to listen to web-dev-related presentations</li><li>Typical attendance size: 25 - 45 people</li></ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>OKC Coffee and Code</h4>
        <a href="https://www.meetup.com/okccoffeeandcode/" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Co-organizer</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">June 2022 - Present</span>
    <span class="hidden-xs pull-right small-italic">June 2022 - Present</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Help create, manage, and market our social meet and greet, coding, and company-hosted events</li><li>Acquire meeting locations, communicate with local businesses, run the events, and facilitate our slack community.</li><li>Meet 3-5x / month; events range from 10 - 30 attendees.</li></ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Techlahoma</h4>
        <a href="https://techlahoma.org" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Board Member</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">June 2018 - Jan 2020</span>
    <span class="hidden-xs pull-right small-italic">June 2018 - Jan 2020</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Work with rest of the board to manage the Techlahoma non-profit organization, which has over 6,000 members</li><li>Helped run Finance Committee and Content Creation Committee</li><li>Fundraise, gather grants, and build internal documentation</li><li>Participate in monthly meetings and share my committees' updates</li></ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>OKC Ruby</h4>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Organizer</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">June 2018 - Dec 2019</span>
    <span class="hidden-xs pull-right small-italic">June 2018 - Dec 2019</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Managed and marketed our local Ruby community meetups, found monthly speakers, ran the events, and facilitated our slack community</li><li>Met monthly in-person to eat lunch, network, and listen to Ruby-specific presentations</li><li>Overall community size Typical meetup size: 15 - 30 people</li><li>My co-organizer and I took over the roles from previous organizers</li></ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Techlahoma</h4>
        <a href="https://techlahoma.org" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Speaker &amp; Member</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">Sep 2013 - Present</span>
    <span class="hidden-xs pull-right small-italic">Sep 2013 - Present</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Speak at various Techlahoma events throughout Oklahoma</li><li>Cover topics including JS, Ruby, Python, .NET, FP, Prolog, HTML/CSS, PHP, and really just anything coding-related</li><li>Have a goal of meeting a new person at every event</li><li><a href="https://thecodeboss.dev/content/talks/" target="_blank" rel="noreferrer noopener">See my various speaking events</a></li></ul></div>
</div>
			</article>
						<article class="col-lg-12 workExperience-block">
				<div class="row top-padding">
  <div class="col-sm-8">
    <h4>Code.org</h4>
        <a href="https://code.org" target="_BLANK">
      <span class="badge">Website <i class="glyphicon glyphicon-chevron-right"></i></span>
    </a>
      </div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">Oklahoma City, OK</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">Volunteer</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">May 2012 - Present</span>
    <span class="hidden-xs pull-right small-italic">May 2012 - Present</span>
  </div>
</div>

<div class="row">
  <div class="work-experience-content col-lg-12"><ul><li>Speak to and work with students throughout the education system about being a programmer. So far, I've volunteered with:<ul><li>Elementary: Casady School - 4th grade class &amp; entire elementary school</li><li>High School: Edmond Memorial, Edmond Santa Fe, Oklahoma School of Science and Mathematics</li><li>University: University of Oklahoma &amp; University of Central Oklahoma</li></ul></li></ul></div>
</div>
			</article>
						<article class="col-lg-12 heading-block">
				<div class="row">
  <div class="col-lg-12 page-header">
    <h2>Fun Facts</h2>
  </div>
</div>
			</article>
						<article class="col-lg-12 list-block">
				<div class="row">
  <div class="col-sm-8">
    <div class="row top-padding">
      <div class="col-sm-4">
        <span class="pull-right hidden-xs"><strong>Neat Things</strong></span>
        <span class="visible-xs badge">Neat Things</span>
      </div>
      <div class="col-sm-8"><p><a href="https://www.meetup.com/OKCWebDevs/" target="_blank" rel="noreferrer noopener">OKC WebDevs</a> User Group Leader<a href="https://www.meetup.com/okccoffeeandcode/" target="_blank" rel="noreferrer noopener"><br />OKC Coffee and Code</a> User Group Leader<br /><a href="https://code.org/" target="_blank" rel="noreferrer noopener">Code.org</a> Volunteer<br />Former <a href="https://www.techlahoma.org/" target="_blank" rel="noreferrer noopener">Techlahoma</a> Board Member <br />Oklahoma All-State Tennis Champion - West
	<br />Valedictorian<br />Married my high school sweetheart</p></div>
    </div>
  </div>
</div>
			</article>
						<article class="col-lg-12 list-block">
				<div class="row">
  <div class="col-sm-8">
    <div class="row top-padding">
      <div class="col-sm-4">
        <span class="pull-right hidden-xs"><strong>Languages</strong></span>
        <span class="visible-xs badge">Languages</span>
      </div>
      <div class="col-sm-8"><p>
	English<br />Half-fluent in German<br />Know a bit of Spanish, Japanese, and Farsi<br /></p></div>
    </div>
  </div>
</div>
			</article>
						<article class="col-lg-12 list-block">
				<div class="row">
  <div class="col-sm-8">
    <div class="row top-padding">
      <div class="col-sm-4">
        <span class="pull-right hidden-xs"><strong>Interests</strong></span>
        <span class="visible-xs badge">Interests</span>
      </div>
      <div class="col-sm-8"><p>Family<br />
	Tea
<br />Beer &amp; Cocktails<br />Longboarding<br /></p></div>
    </div>
  </div>
</div>
			</article>

			<footer class="page-footer col-lg-12">
  <hr />
  <p>&copy;
          <a href="https://thecodeboss.dev">Aaron L. Krauss</a>
        <script>document.write(new Date().getFullYear())</script><noscript>2015</noscript>
  </p>
</footer>
		</section>
	</body>
</html>
