{{ define "main" }}
{{ partial "page-header.html" . }}
<main class="bg-white py-12">
  <div class="container-main">
    <div class="prose prose-main max-w-none">
      {{.Content}}
    </div>
<ul>
    {{ range .Site.Taxonomies.tags }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title | urlize }}</a> {{ .Count }}</li>
    {{ end }}
</ul>
    <section
      data-title="Blog Posts"
      class="
        [ mt-6 ]
        [ grid gap-4 grid-cols-2 auto-rows-max ]
        [ md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 ]
      ">
      {{ $paginator := .Paginate (where .Pages "Type" "blog") }}
      {{ template "_internal/pagination.html" . }}
      {{ range $paginator.Pages }}
      {{ partial "blog/blog-card.html" . }}
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
